#studiodetails{
  max-width: 600px;
  min-width: 300px;
  padding: 10px;
  margin: 10px;
  margin-left: 60px;
  box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
}


#studiolist{
  margin-right: 20px;
}

div#wrapper {
  display: flex;
  cursor: default;
}

.studionames {
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
}

form{
  max-width: 50%;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 0px 5px rgba(0,0,0,0.3);
    min-width: 100%;
}
.formbtn {
  margin-top: 10px;
  margin-bottom: 25px;
  width: 180px;
  height: 55px;
  border: 1px solid #004F96;
  color:white;
  background-color: #004F96;
  text-align: center;
  cursor: default;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, .16);
  margin: 10px;
  padding: 10px;
}
