<div id="wrapper">
  <div id="studiolist">
    <div *ngFor="let s of studios" class="studionames">
        <span class="glyphicon glyphicon-remove pullright"(click)="deleteStudio(s.id)">X</span>
        |
        <span (click)="onClick(s)">  {{s.name}}</span>
    </div>
  </div>


<div>
  <form [formGroup]="myForm" novalidate>
    <div class="form-group">
      <label>name</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="name" required>
    </div>
    <div class="form-group">
      <label>postcode</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="postcode" required>
    </div>
    <div class="form-group">
      <label>countrycode</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="countrycode" required>
    </div>
    <div class="form-group">
      <label>id</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="id" >
    </div>
    <div class="btn-toolbar text-center">
      <button type="submit" class="formbtn" [disabled]="!myForm.valid" (click)="savePUT(myForm.value)">UPDATE</button>
      <button type="submit" class="formbtn" [disabled]="!myForm.valid" (click)="savePOST(myForm.value)">CREATE</button>
    </div>
  </form>
</div>

<div *ngIf="false" class="margin-20">
  <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
  <pre>form value: <br>{{myForm.value | json}}</pre>
</div>

<div id="studiodetails" innerHTML="{{details}}"></div>

</div>
