<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
   <title>Everything</title>
   <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
</head>
<body>
<a href="actors.xhtml"><h1>Actors</h1></a>
<ui:repeat value="#{reqActor.getAllActors()}" var="actor">
   <p><h:outputText value="#{actor.firstname}"/><h:outputText value=" "/><h:outputText value="#{actor.lastname}"/></p>
</ui:repeat>
<h1>Movies</h1>
<ui:repeat value="#{reqMovie.getAllMovies()}" var="movie">
   <h2><h:outputText value="#{movie.title}"/></h2>
   <p><h:outputText value="#{movie.description}"/></p>
</ui:repeat>
<h1>Studios</h1>
<ui:repeat value="#{reqStudio.getAllStudios()}" var="studio">
   <h2><h:outputText value="#{studio.name}"/></h2>
   <p><h:outputText value="#{studio.postcode}"/></p>
</ui:repeat>
</body>
</html>