<h1>{{title}}</h1>


<ngb-tabset>
  <ngb-tab>
    <template ngbTabTitle><b>Studios</b></template>
    <template ngbTabContent>
      <app-studios></app-studios>
    </template>
  </ngb-tab>
  <ngb-tab>
    <template ngbTabTitle><b>Actors</b></template>
    <template ngbTabContent>
      <app-actors></app-actors>
    </template>
  </ngb-tab>
</ngb-tabset>
