<div id="wrapper">
  <div id="actorlist">
    <div *ngFor="let s of actors" class="actornames">
        <span class="glyphicon glyphicon-remove pullright"(click)="deleteActor(s.id)">X</span>
        |
        <span (click)="onClick(s)">{{s.firstname}} {{s.lastname}}</span>
    </div>

  </div>


<div>
  <form [formGroup]="myForm" novalidate>
    <div class="form-group">
      <label>firstname</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="firstname" required>
    </div>
    <div class="form-group">
      <label>lastname</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="lastname" required>
    </div>
    <div class="form-group">
      <label>sex</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="sex" required>
    </div>
    <div class="form-group">
      <label>birthdate</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="birthdate" required>
    </div>
    <div class="form-group">
      <label>id</label>
      <input type="text" class="form-control input-lg onlyunderlined" formControlName="id" >
    </div>

    <div class="btn-toolbar text-center">
      <button type="submit" class="formbtn" [disabled]="!myForm.valid" (click)="savePUT(myForm.value)">UPDATE</button>
      <button type="submit" class="formbtn" [disabled]="!myForm.valid" (click)="savePOST(myForm.value)">CREATE</button>
    </div>
  </form>
</div>


<div *ngIf="false" class="margin-20">
  <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
  <pre>form value: <br>{{myForm.value | json}}</pre>
</div>

<div id="actordetails" innerHTML="{{details}}"></div>

</div>
